<body>
    <h1>Enter the Roll# to delete data:</h1>
    <form action="/admin/delete" method="post">
            <input type="text" name="sregno"/>
            <button type="submit" name="send" value="Submit">Submit</button>
    </form>
</body>
