
<!-- <body>
    <form action="/login/submit" method="post">
            <input type="text" name="username"/>
            <input type="text" name="password"/>
            <button type="submit" name="send" value="Login">Login</button>
    </form>
</body> -->



<!--
<h2 class="page-header">Login</h2>
<form action="/login/submit" method="post">
  <div class="form-group">
    <label>Username</label>
    <input type="text" class="form-control" name="username">
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" name="password">
  </div>
  <input type="submit" class="btn btn-primary" value="Login">
</form> -->


<body>


  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Nerdware</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">

            </ul>
          <div class="form-inline my-2 my-lg-0">
              <ul class="navbar-nav mr-auto">

                  <!-- <li *ngIf="authService.loggedIn()"  class="nav-item" >
                    <a class="nav-link" (click)="onLogoutClick()" href="#">Logout</a>
                  </li> -->
                </ul>
          </div>
        </div>
      </nav><br>


    <form action="/login/submit" class="align middle" method="post">
      <div class="jumbotron" style="margin-left:30%; margin-right:30%;">
        <div class="col-md-8" style="margin-left:15%;">
            <h2 class="page-header" style="text-align: center; font-size: 250%; font-weight: bold;">Login</h2>
            <input class="form-control" type="text" name="regno" placeholder="Registration Number"/><br>
            <input class="form-control" type="password" name="password" placeholder="Password"><br>


              <select class="form-control" id="sel1" name="option">
                <option value="admin">Admin</option>
                <option value="teacher">Teacher</option>
                <option value="student">Student</option>
              </select><br>


            <button type="submit" class="btn btn-primary" style="margin-left: 40%;" name="button">Submit</button>

</div>
</div>
    </form>

</body>
<!--
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script> -->
<!------ Include the above in your HEAD tag ---------->


<!-- <html>
  <head>

<!--

---- Include the above in your HEAD tag --------
  </head>
<body id="LoginForm">
<div class="container">
<h1 class="form-heading">login Form</h1>
<div class="login-form">
<div class="main-div">
    <div class="panel">
   <h2>Admin Login</h2>
   <p>Please enter your email and password</p>
   </div>
    <form id="Login">

        <div class="form-group">


            <input type="email" class="form-control" id="inputEmail" placeholder="Email Address">

        </div>

        <div class="form-group">

            <input type="password" class="form-control" id="inputPassword" placeholder="Password">

        </div>
        <div class="forgot">
        <a href="reset.html">Forgot password?</a>
</div>
        <button type="submit" class="btn btn-primary">Login</button>

    </form>
    </div>
<p class="botto-text"> Designed by Sunil Rajput</p>
</div></div></div>


</body>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</html> -->
