
  <body>


    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="#">Teacher Panel</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto" style="margin-left: 90%;">
          <!-- <li class="nav-item" >
            <a class="nav-link" href="http://localhost:3000/teacher/profile">Home</a>
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link" href="http://localhost:3000/student/info">Student Info</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="http://localhost:3000/teacher/info">Teacher Info</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="http://localhost:3000/admin/info">Show All Students</a>
          </li> -->

          <!-- <li class="nav-item">
            <a class="nav-link" href="http://localhost:3000/teacher/update">Update Profile</a>
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li> -->
        </ul>

      </div>
    </nav><br>
    <div class="page-header" style="margin-left: 20px;">
    <h1>Registered Students</h1>
    </div>
      <!-- <p>Welcome to your dashboard</p> -->
      <table class="table table-bordered" style="margin-left: 20px; margin-right: 20px;">
        <thead>
          <td><strong>Registration No: </strong></td>
          <td><strong>First Name: </strong></td>
          <td><strong>Last Name: </strong></td>
        </thead>
      {{#each stInfo as |val key|}}
      <tr>
      <td>{{val.sregno}}</td>
      <td>{{val.firstName}}</td>
      <td>{{val.lastName}}</td>
    </tr>
      {{/each}}
    </table>

  </body>
