<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Administrator</h1>
      <p>Welcome to your dashboard</p>

      <div><h4>First Name: </h4>{{stInfo.firstName}}</div>
      <div><h4>Last Name: </h4>{{stInfo.lastName}}</div>
      <div><h4>Username: </h4>{{stInfo.username}}</div>
      <div><h4>Contact No: </h4>{{stInfo.phoneNo}}</div>
  </body>
</html>
